__pycache__/
alembic/versions/__pycahe__/
*.pyc
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.git/
.gitignore

.env

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage/
htmlcov/

DS_Store
.vscode/
.idea/

README.md